body {
  color: #506784;
  background:
    linear-gradient(
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.6)
    ),
    url("https://github.com/plotly/dash-docs/raw/master/images/dash-pattern.png");
  margin: 0px;
}

.user_card {
  height: 400px;
  width: 350px;
  margin-top: auto;
  margin-bottom: auto;
  background: #119dff;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  color: white;
}

.user_card_signup {
  height: 500px;
  width: 350px;
  margin-top: auto;
  margin-bottom: auto;
  background: #119dff;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  color: white;
}


.brand_logo_container {
  position: absolute;
  height: 130px;
  width: 130px;
  top: -75px;
  border-radius: 50%;
  /* background: #60a3bc; */
  background:
    linear-gradient(
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 1)
    ),
    url("https://github.com/plotly/dash-docs/raw/master/images/dash-pattern.png");
  padding: 10px;
  text-align: center;
}
.brand_logo {
  height: 110px;
  width: 110px;
  border-radius: 50%;
  border: 2px solid #119dff;
  /* f39c12 */
}
.form_container {
  margin-top: 60px;
}
.login-form-padding {
  padding-top: 6rem;
}
.login_btn {
  width: 100%;
  background: #f39c12 !important;
  color: white !important;
}
.login_btn:focus {
  box-shadow: none !important;
  outline: 0px !important;
}
.login_container {
  padding: 0 2rem;
}
.input-group-text {
  background: #f39c12 !important;
  color: white !important;
  border: 0 !important;
  border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
  box-shadow: none !important;
  outline: 0px !important;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
  background-color: #f39c12 !important;
}

.error-message{
  color: red;
  font-size: 12px;
}